.item-set-field { margin-bottom: 2em; }
.item-set-field .heading { font-size: 1.2em; font-weight: 600; }
.item-set-field ul { border-top: 1px solid #eee; margin-bottom: 1em; }
.item-set-field li { overflow: hidden; padding: 5px 3px; font-size: 11px; border-bottom: 1px solid #eee; zoom: 1; cursor: move; }
.item-set-field li.odd { background: white; }
.item-set-field li.even { background: #F8F8F8; }
.item-set-field li.no-items-text { color: #888; }
.item-set-field .item-set-field-item-actions { float: right; }

.item-set-dialog a { font-size: 12px; }
.item-set-dialog form fieldset .field { padding-top: 0; margin-top: 0.5em; margin-bottom: 0.5em; }

.item-set-field dl dt { height: 0; overflow: visible; }
.item-set-field dl dd { margin-left: 100px; }
